<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
  <%- include('includes/nav') %>
  <h1>Contact Us</h1>
  <p>Thanks for getting in touch!</p>
  <p>You contacted <b><%= data.who %></b> in the <b><%= data.department %></b> department.</p>
  <p>We will reply you at <b><%= data.email %></b></p>
</body>
</html>