<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
  <%- include('includes/nav') %>
  <h1>Welcome to the most awesome website on the net</h1>
  <p>You won't find a website better anywhere else!</p>
</body>
</html>